/* M */
.MEALLY{
position: absolute;
width: 129px;
height: 148px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 144px;
line-height: 214px;

color: #606C38;



/* E */

position: absolute;
width: 129px;
height: 149px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 144px;
line-height: 214px;

color: #606C38;



/* A */

position: absolute;
width: 129px;
height: 149px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 144px;
line-height: 214px;

color: #606C38;



/* . */

position: absolute;
width: 129px;
height: 149px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 144px;
line-height: 214px;

color: #606C38;



/* L */

position: absolute;
width: 129px;
height: 149px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 144px;
line-height: 214px;

color: #606C38;



/* Y */

position: absolute;
width: 129px;
height: 149px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 144px;
line-height: 214px;

color: #606C38;



/* L */

position: absolute;
width: 129px;
height: 149px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 144px;
line-height: 214px;

color: #606C38;



/* freepik  Food  inject 289 */

position: absolute;
width: 919.84px;
height: 126.9px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 110.19px;
height: 34.83px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 37.93px;
height: 12.8px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 4.41px;
height: 30.44px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 3.15px;
height: 22.32px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 3.16px;
height: 22.32px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 28.22px;
height: 9.51px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 37.53px;
height: 19.07px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Vector */

position: absolute;
width: 95.4px;
height: 77.86px;

background: #BC6C25;
transform: matrix(0.89, -0.43, 0.47, 0.9, 0, 0);


/* Vector */

position: absolute;
width: 26.81px;
height: 25.74px;

background: #455A64;
transform: matrix(-1, -0.01, -0.01, 1, 0, 0);


/* Vector */

position: absolute;
width: 6.21px;
height: 28.21px;

background: #455A64;
transform: matrix(-1, 0, 0, 1, 0, 0);
}