.App {
  text-align: center;
}

.App-logo {
  height: 38vmin;
  pointer-events: none;
  margin-top: -6%;
}


.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



